@model GroupThreeTrailerParkProject.Models.SiteModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SiteModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxVehicleSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxVehicleSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisibleToClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisibleToClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SiteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
